.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
}

/* .details img {
  max-width: 500px;
  min-width: 290px;
  height: 400px;
  width: 100%;
  display: block;
  object-fit: cover;
  margin: 25px
} */


.cart {
    background: #333;
    color: white;
    text-decoration: none;
    padding:  10px 5px;
    display: inline-block;
}